
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #25ced1;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    z-index: +999;
}
nav .logo
{
    font-size: 1.7rem;
    font-weight: 900;
    margin-left: 2rem;
    color: #00000f; 
}
nav .logo::first-letter
{
    color: #ad5f00;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1.9px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav ul li a
{
    text-decoration: none;
    color: #0e0e0e; 
    font-size: 1.25rem;
    padding: 16px 20px;
    font-weight: 750;
    position: relative;
}
nav ul li a::after
{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FF9F1C;
    transform-origin:bottom;
    transition: .5s;
    scale: 0;
}
nav ul li a:hover::after
{
    scale: 1;
    transform-origin: bottom;
    transition: .75s;
}

nav ul li a:hover
{
    color: #945b0c;
    transition: .5s;
    backdrop-filter: blur(2.8px);
}
nav ul li {
    visibility: hidden;
}